.DS_Store

.bundle/
/vendor/bundle
/lib/bundler/man/

.rspec
.env
*.gem
*.rbc

/spec/reports/
/spec/examples.txt
.yardoc/
_yardoc/
/doc/
/rdoc/
/coverage/
/log/*.log
/pkg/
/tmp/

.ruby-version
.ruby-gemset
Gemfile.lock
gemfiles/*.gemfile.lock

.byebug_history

.claude/
.conductor/
.cursor/
.config
